<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>144947031832-a2khau48m0umagq5a5nt3v8p86fl2d61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144947031832-a2khau48m0umagq5a5nt3v8p86fl2d61</string>
	<key>API_KEY</key>
	<string>AIzaSyBCCgPaoDhbAslH9FcybWtk2UeM9-0V62Y</string>
	<key>GCM_SENDER_ID</key>
	<string>144947031832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.femchat.FemChat</string>
	<key>PROJECT_ID</key>
	<string>femchatdb</string>
	<key>STORAGE_BUCKET</key>
	<string>femchatdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144947031832:ios:b6d1d9654f5d9d1f</string>
	<key>DATABASE_URL</key>
	<string>https://femchatdb.firebaseio.com</string>
</dict>
</plist>